# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
venv310/
new_venv/

# OS junk
.DS_Store

# env
.env
student-faces/
# Logs
*.log

# Attendance files (optional, if you don’t want to upload logs)
attendance_*.csv
